/* ================= Connect Mixins ================= */

/* ================= Fonts ================= */

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ================= Icon Font ================= */

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #fff;
}

.icon-linkedin:before {
  content: "\e901";
  color: #fff;
}

.icon-instagram:before {
  content: "\e902";
  color: #fff;
}

.icon-mail:before {
  content: "\e903";
  color: #fff;
}

/* ================= Default Font ================= */

/* ================= General Settings ================= */

/* ================= General styles and reset ================= */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ================= Custom Scrollbar ================= */

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 182, 72, 0);
}

body::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.904);
}

body::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 25px;
  background: rgb(49, 49, 49);
}

/* ================= Custom Highlight Color ================= */

::-moz-selection {
  background-color: rgb(170, 170, 170);
}

::selection {
  background-color: rgb(170, 170, 170);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.loaded body {
  visibility: visible;
}

/* ================= Page Wrapper ================= */

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.page {
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #ffffff;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #ffffff;
}

/*
This will be applied to all elements with class *__container. E.g. header__container. 
*/

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.logo img {
  height: 60px;
  width: auto;
}

.section-title {
  min-width: 350px;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 116.6666666667%;
  text-align: center;
  text-transform: uppercase;
  border: 8px solid rgb(0, 0, 0);
  padding: 25px 40px;
}

.portfolio-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

.portfolio-item__content {
  position: relative;
}

.portfolio-item:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.portfolio-item:hover .portfolio-item__overlay {
  height: 100%;
}

.portfolio-item__img-wrapper {
  border: 1px solid rgb(75, 75, 75);
}

.portfolio-item__img-wrapper img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
}

.portfolio-item__overlay {
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
  color: rgb(255, 255, 255);
}

.portfolio-item__title {
  font-size: 1.8vw;
  font-weight: 700;
}

.portfolio-item__type {
  font-size: 0.8vw;
  font-weight: 500;
}

.portfolio-item__link {
  position: relative;
  display: block;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 35px;
}

.portfolio-item__link span {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio-item__link span:nth-child(1),
.portfolio-item__link span:nth-child(3) {
  width: 3px;
  height: 100%;
  background: rgb(255, 255, 255);
}

.portfolio-item__link span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.portfolio-item__link:hover span:nth-child(2) {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio-item__link span:nth-child(3) {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.portfolio-item__link:hover span:nth-child(4) {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio-item__link span:nth-child(2),
.portfolio-item__link span:nth-child(4) {
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
}

.portfolio-item__link span:nth-child(2) {
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

.portfolio-item__link:hover span:nth-child(1) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio-item__link span:nth-child(4) {
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.portfolio-item__link:hover span:nth-child(3) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio-item__overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.header {
  background: url("../img/backgrounds/bg-header.svg");
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

.header__nav-list-item:not(:last-of-type):hover {
  text-decoration: underline;
}

.header__nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.0625rem;
  font-weight: 700;
}

.header__nav-link--contact {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 0.9375rem;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 12px 20px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.header__nav-link--contact:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.header__navbar-mobile {
  background-color: rgb(5, 5, 5);
  display: none;
}

.header__navbar-mobile-row--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
}

.header__navbar-mobile-row--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-mobile {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-mobile--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgb(255, 255, 255);
}

.header__nav-mobile-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav-mobile-list-item {
  width: inherit;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header__nav-mobile-list-item:hover {
  background-color: rgb(255, 255, 255);
}

.header__nav-mobile-list-item:hover a {
  color: rgb(0, 0, 0);
  font-size: 1.125rem;
}

.header__nav-mobile-list-item:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.header__nav-mobile-list-item:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header__nav-mobile-list-item:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.header__nav-mobile-list-item:nth-of-type(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header__nav-mobile-link {
  color: rgb(255, 255, 255);
  font-size: 0.9375rem;
  font-weight: 600;
  text-align: center;
}

.header__nav-mobile-link--contact {
  text-transform: uppercase;
}

.header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header__column--1 {
  position: relative;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0 200px 0;
}

.header__column--2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info-text {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.header__info-bg-rectangle {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 60%;
  left: 0;
  width: 900px;
  height: 900px;
  z-index: 5;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-102deg);
      -ms-transform: rotate(-102deg);
          transform: rotate(-102deg);
}

.header__greeting {
  font-size: 2.5rem;
  line-height: 115%;
  margin: 0 0 55px 0;
}

.header__name {
  font-size: 3.75rem;
  line-height: 110%;
  margin: 0 0 20px 0;
}

.header__job {
  color: rgb(144, 144, 144);
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 116%;
  margin: 0 0 125px 0;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__social-list-item {
  width: 60px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(196, 196, 196);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header__social-list-item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0.7;
}

.header__social-link {
  font-size: 1.5rem;
}

.header__img {
  max-width: 500px;
  height: auto;
}

/* ================= Mobile Menu Toggle ================= */

.icon-menu {
  display: none;
  position: relative;
  width: 1.9375rem;
  height: 1.6875rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu:hover span,
.icon-menu:hover:before,
.icon-menu:hover:after {
  background-color: rgb(144, 144, 144);
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-menu--toggled span {
  width: 0;
}

.icon-menu--toggled::before {
  top: calc(50% - 0.125rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon-menu--toggled::after {
  bottom: calc(50% - 0.125rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sub-header {
  background: -o-linear-gradient(359.82deg, #1d1d1d 31.74%, #1d1d1d 90.49%, #1d1d1d 90.49%);
  background: linear-gradient(90.18deg, #1d1d1d 31.74%, #1d1d1d 90.49%, #1d1d1d 90.49%);
  height: 150px;
  margin: 0 0 120px 0;
}

.about {
  margin: 0 0 120px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  color: rgb(0, 0, 0);
}

.about__text {
  width: 60%;
  color: rgb(5, 5, 5);
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.3333333333;
  text-align: justify;
}

.about__explore {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  padding: 7px 25px;
}

.about__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.about__service {
  position: relative;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.about__service-img {
  position: absolute;
  top: -20%;
  left: -40px;
  height: auto;
  width: 60px;
}

.about__service-title {
  display: inline;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2272727273;
  letter-spacing: 18%;
}

.about__service-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3571428571;
}

.skills {
  margin: 0 0 120px 0;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__content {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  color: rgb(0, 0, 0);
}

.skills__skills-row {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
}

.skills__skills-title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
}

.skills__skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  row-gap: 65px;
}

.skills__skill {
  min-height: 180px;
  min-width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__skill-name {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2083333333;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.portfolio {
  margin: 0 0 140px 0;
}

.portfolio__header {
  background: rgb(177, 177, 177);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.portfolio__content {
  background: rgb(26, 26, 26);
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.portfolio__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5px;
}

.portfolio__filter-btn {
  cursor: pointer;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(124, 124, 124);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2142857143;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(170, 170, 170);
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.portfolio__filter-btn--active {
  color: rgb(255, 251, 251);
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.portfolio__filter-btn:not(.portfolio__filter-btn--active):hover {
  color: rgb(224, 224, 224);
}

.portfolio__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.portfolio__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.portfolio__footer-text {
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.2;
}

.contact {
  margin: 0 0 60px 0;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__text {
  max-width: 780px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.3333333333;
  text-align: center;
  margin: 60px 0 25px 0;
}

.contact__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.contact__label,
.contact__textarea-wrapper {
  width: 100%;
  max-width: 610px;
}

.contact__input,
.contact__textarea {
  background: none;
  width: 100%;
  color: rgb(5, 5, 5);
  font-size: 0.9375rem;
  font-weight: 400;
  border-left: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  outline: none;
  padding: 10px;
}

.contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  color: rgb(139, 139, 139);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}

.contact__input::-moz-placeholder, .contact__textarea::-moz-placeholder {
  color: rgb(139, 139, 139);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}

.contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  color: rgb(139, 139, 139);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}

.contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  color: rgb(139, 139, 139);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  color: rgb(139, 139, 139);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}

.contact__textarea-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px;
  position: relative;
}

.contact__textarea-wrapper:before {
  content: "";
  background: url("img/common/border-corner.svg");
  position: absolute;
  top: -5px;
  left: 0;
  width: 5px;
  height: 10px;
}

.contact__textarea {
  resize: none;
  height: 100%;
}

.contact__textarea-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: rgb(5, 5, 5);
  font-size: 0.875rem;
  margin: 5px 0 0 0;
}

.contact__submit {
  position: relative;
  display: block;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 45px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 40px;
  margin: 10px 0 0 0;
}

.contact__submit span {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact__submit span:nth-child(1),
.contact__submit span:nth-child(3) {
  width: 3px;
  height: 100%;
  background: rgb(0, 0, 0);
}

.contact__submit span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.contact__submit:hover span:nth-child(2) {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact__submit span:nth-child(3) {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.contact__submit:hover span:nth-child(4) {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact__submit span:nth-child(2),
.contact__submit span:nth-child(4) {
  width: 100%;
  height: 3px;
  background: rgb(0, 0, 0);
}

.contact__submit span:nth-child(2) {
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

.contact__submit:hover span:nth-child(1) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact__submit span:nth-child(4) {
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.contact__submit:hover span:nth-child(3) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footer {
  background: rgb(26, 26, 26);
  padding: 70px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
}

.footer__scroll-up {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: rgb(255, 255, 255);
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.footer__scroll-up:hover {
  opacity: 0.75;
}

.footer__scroll-up-icon {
  font-size: 1.0625rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.footer__scroll-up-text {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.footer__social-list-item {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.footer__social-list-item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer__social-link {
  font-size: 1.875rem;
}

.footer__copyright {
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  text-align: center;
}

.footer__copyright-name {
  font-weight: 700;
}

.footer__copyright-text {
  font-weight: 400;
}

@media screen and (max-width: 81.25em) {
  .header {
    background: rgb(215, 215, 215);
  }

  .header__nav-list {
    gap: 50px;
  }

  .header__nav-link--contact {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 1.0625rem;
    text-transform: none;
    padding: 0;
  }

  .header__nav-link--contact:hover {
    text-decoration: underline;
  }

  .header__nav-link {
    color: rgb(5, 5, 5);
  }

  .header__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header__column--1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__img {
    display: none;
  }
}

@media screen and (max-width: 61.99875em) {
  .portfolio-item:hover img {
    -webkit-filter: none;
            filter: none;
  }

  .portfolio-item:hover .portfolio-item__overlay {
    height: 0;
  }

  .portfolio-item__overlay {
    display: none;
  }

  .portfolio-item__title {
    font-size: 0.09375vwrem;
  }
}

@media screen and (max-width: 47.99875em) {
  .logo img {
    height: 40px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }

  .section-title {
    min-width: 250px;
    font-size: 1rem;
  }

  .portfolio-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%;
  }

  .header {
    background: none;
  }

  .header__logo {
    display: none;
  }

  .header__container {
    padding: 0;
  }

  .header__navbar {
    display: none;
  }

  .header__navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .no-webp .header__column--1 {
    background: url("../img/backgrounds/bg-header-mobile.jpg"); }

  .header__column--1 {
    background-position: center center;
    background-size: cover;
    height: 80vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }

  .header__column--2 {
    display: none;
  }

  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0 15px 40px 15px;
  }

  .header__info-text {
    color: rgb(255, 255, 255);
  }

  .header__info-bg-rectangle {
    display: block;
  }

  .header__greeting {
    font-size: 1.5625rem;
    margin: 0 0 15px 0;
  }

  .header__name {
    font-size: 2.1875rem;
    margin: 0 0 15px 0;
  }

  .header__job {
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    margin: 0;
  }

  .header__social-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__social-list-item {
    width: auto;
    height: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .header__social-list-item:hover {
    -webkit-transform: translateY(0px) scale(1.2);
        -ms-transform: translateY(0px) scale(1.2);
            transform: translateY(0px) scale(1.2);
    opacity: 1;
  }

  .header__social-link {
    color: rgb(255, 255, 255);
  }

  .icon-menu {
    display: block;
  }

  .sub-header {
    margin: 0 0 70px 0;
  }

  .about {
    margin: 0 0 100px 0;
  }

  .about__container {
    gap: 60px;
  }

  .about__content {
    gap: 40px;
  }

  .about__text {
    min-width: 265px;
    font-size: 0.875rem;
    font-weight: 300;
  }

  .about__explore {
    font-size: 0.8125rem;
    font-weight: 700;
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
  }

  .about__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding: 0 30px;
  }

  .about__service-title {
    font-size: 1.0625rem;
  }

  .about__service-text {
    font-size: 0.8125rem;
    text-align: justify;
  }

  .skills {
    margin: 0 0 100px 0;
  }

  .skills__content {
    max-width: auto;
    gap: 50px;
  }

  .skills__skills-row {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .skills__skills-row--learning,
  .skills__skills-row--other {
    display: none;
  }

  .skills__skills-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }

  .skills__skill {
    min-height: 140px;
    min-width: 120px;
  }

  .skills__skill-img {
    height: 75px;
    width: auto;
  }

  .skills__skill-name {
    font-size: 1.125rem;
  }

  .contact__content {
    gap: 30px;
  }

  .contact__text {
    margin: 0;
  }
}

@media screen and (max-width: 29.99875em) {
  .portfolio-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 47.99875em) {

  .webp .header__column--1 { background: url(../img/backgrounds/bg-header-mobile.webp); }
}