//- Connect mixins
include ../../common/section-title/section-title.pug

section.about(id="about-section")
    div.about__container
      div.about__content
        +section-title("About Me")
        div.about__text My name is Tomasz Gajda, I'm a third year Applied Computer Science student at the AGH University of Science and Technology in Krakow. I have been learning Front-End technologies for a year and this time was just enough for me to make sure that this is my place in the industry. Membership in the science club developed my design skills, which quickly turned into a new hobby. I am fluent in English (spoken and written) and intermediate Spanish. Apart from designing and programming websites, my passion is all kinds of motorsport - from rallies to the very king of motorsport - formula 1.
        div.about__explore Explore
      include ../../common/separator/separator.pug 
      div.about__services
        div.about__service
            img.about__service-img(src="img/about/design.png", alt="Design")
            h3.about__service-title DESIGN
            div.about__service-text I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.
        div.about__service
            img.about__service-img(src="img/about/dev.png", alt="Development")
            h3.about__service-title DEVELOPMENT
            div.about__service-text I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.
        div.about__service
            img.about__service-img(src="img/about/maint.png", alt="Maintenance")
            h3.about__service-title MAINTENANCE
            div.about__service-text I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.
      include ../../common/separator/separator.pug
        
        
