.sub-header {
  background: linear-gradient(
    90.18deg,
    #1d1d1d 31.74%,
    #1d1d1d 90.49%,
    #1d1d1d 90.49%
  );

  height: 150px;
  margin: 0 0 120px 0;

  @include maxMobile {
    margin: 0 0 70px 0;
  }
}
